{% load wagtailcore_tags %}

{% if ancestors %}
<nav aria-label="Ruta de navegación" class="bg-light">
    <div class="container">
        <ol class="breadcrumb py-2 mb-0 small">
            <li class="breadcrumb-item">
                <a href="/">Inicio</a>
            </li>
            {% for ancestor in ancestors %}
                {% if forloop.last %}
                    <li class="breadcrumb-item active" aria-current="page">{{ ancestor.title }}</li>
                {% else %}
                    <li class="breadcrumb-item">
                        <a href="{% pageurl ancestor %}">{{ ancestor.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</nav>
{% endif %}

